//.App {
//  width: 100%;
//  height: 100%;
// }

.chart {
  position: absolute;
  left: 0;
  top:0;
  display: flex;
  padding-bottom: 2.5vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 97.5vh;
  width: 99vw;

  .header {
    width: 100%;
    display: flex;
    .title {
      flex-basis: 80%;
      padding-left: 4vw;
      padding-top: 4.5vh;
      height: 5vh;
      text-align: left;
      font-family: "Gill Sans MT-Regular", "Gill Sans", "Gill Sans MT",
        sans-serif;
      font-size: 3.6vh;
      color: #ffffff;
    }
    .logoWrapper {
      flex-basis: 20%;
      .logo {
        margin-top: 2.2vh;
        margin-right: 2vh;
        height: 2.5vh;
        float: right;
      }
    }
  }

  .blueBlob {
    margin-left: 4vw;
    width: 4vw;
    margin-right: auto;
    height: 4px;
    background-color: #52bdc2 ;
  }

  .topChartWrapper {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: row;

    .happinessWrapper {
      flex-basis: 60vw;
    }

    .detailsWrapper {
      margin-left: 3vw;
      flex-basis: 37vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #ffffff;
      .detailItemWrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .data{
          width:40%;
          height: 10vh;
          display: flex;
          align-items: center;
          flex-direction: column;

          .dataValue{
            font-size: 3.2vh;
          }

          .dataName{
            font-size: 2vh;
          }

        }
        .explanation {
          width:60%;
          display: flex;
          flex-direction: column;
          .explanationTitle {
            margin-left: 0.5vh;
            margin-right: 0.5vh;
            font-size: 1.5vh;
          }
          .explanationText {
            margin-left: 0.5vh;
            margin-right: 0.5vh;
            font-size: 1vh;
          }
        }
      }
    }
  }

  .chartTitleWrapper {
    width: 100%;
    padding-left: 4vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: left;
    font-size: 2.4vh;
    font-family: "Gill Sans MT-Regular", "Gill Sans", "Gill Sans MT",
    sans-serif;
    .chartTitle {
      color: #ffffff;
    }

    .chartSecondTitle {
      text-align: left;
      color: #52bdc2;
    }
  }

  .singleChartWrapper {
    flex-grow: 1;
    width: 98%;
    position: relative;
  }

  .chartXTicks {
    width: 96%;
    padding-left: 4%;
    display: flex;
    justify-content: space-between;

    .chartXTickValue {
      font-size: 1.6vh;
      font-family: "Gill Sans MT-Regular", "Gill Sans", "Gill Sans MT",
        sans-serif;
      color: #cdcede;
      text-align: left;

      &.tickEndValue {
        color: #ffffff;
      }
    }
  }
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
